.link {
    height: 20px;
    background-color: blue;
    display: block;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid green;
}

nav .link:last-child {
    margin-bottom: 0; 
}