* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

header, footer {
    min-height: 150px;
    background-color: navy;
    margin-bottom: 20px;
}

.cell {
    min-height: 150px;
    background-color: navy;
}

.row {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.col {
    margin-right: 20px;
}
 
.col-1, .col-2, .col-3 {
    flex-grow: 1;
}

.row .col:last-child {
    margin-right: 0;
}