* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 800px;
    margin: 0 auto;
}

.row div{
    height: 150px;
    background: navy;
}

.col-1, .col-2, .col-3 {
    width: 30%;
    float: left;
}

.col-1, .col-2 {
    margin-right: 40px;
}

header, footer {
    background: navy;
    width: 100%;
    height: 150px;
}

.row::after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
}

header, .row {
    margin-bottom: 30px;
}